*{
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  background: url(../508795172.jpg)no-repeat center 0;
  background-size: 100%;
}

.container{
  max-width: 80%;
  text-align: center;
}

#navBouton{
  margin-top: 30px;
  padding: 40px 0 40px 0;
  background-image:linear-gradient(60deg, #902A11, #A6C7C0);
  display: flex;
  justify-content: flex-end;

}
#navBouton i{
  font-size: 4rem;
  color:#E6933B;
}
#navBouton i:hover{
  font-size: 4rem;
  color:#6BA1A0;
}
#navBouton a{
  margin-right: 30px;
}
.bouton,.btn{
  background-color: #E3953F;
}
.bouton:hover,.btn:hover{
  background-color: #6BA1A0;
  color:white;
}
.loupe:hover{
  color: #6BA1A0;
}
.ajout{
  display: inline-block;
}

#photos{
  margin:20px;


}
.tag{
  margin-top: 20px;
}
img{
  margin : 10px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

}
#slide-out{
  background: url(../508795172.jpg)no-repeat center 0;
  background-color: rgba(255,255,255,0.3);

}
